<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "TimeSheet/Main.css" %}">
    <link rel="stylesheet" href="{% static "TimeSheet/GroupAdmin.css" %}">
    <title>Groups</title>
</head>
<body>
    {% load static %}

    <div class="mainheader">
        <img src="{% static "TimeSheet/CompanyLOGO.png" %}" alt="WFH System" class="mainHeaderImage">
    </div>

    <dive> 
       <nav class="headernav">
            <ul class="navList">
            <li class="navListItems"><a href="/TimeSheet/ShowData/">Main</a></li>
            <li class="navListItems"><a href="/TimeSheet/GroupAdmin">My Groups</a></li>
            <li class="logoutbutton"><a href="/logOut/">Logout</a></li>
            </ul>
        </nav>
    </div>

    <h1>Your groups</h1>
    <div class="tablecontainer">
        <table style="width: 1300px;">
            <thead>
                <tr>
                    <th>Groups </th>
                    <th>Members</th>
                </tr>
            </thead>
            <tbody>
                </tr>
                {% for eid, etxt, user in groups %}
                    <tr>
                        <td><a href="/TimeSheet/SuperAdmin/ShowGroupData/{{eid}}">{{etxt}}</a></td>
                        <td>
                            {% for uid, uname in user %}
                                <a href="/TimeSheet/SuperAdmin/ShowUserData/{{uid}}">({{uname}})</a> 
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <footer><p>@Copyrights <a href="https://github.com/chamira-cmd">chamira-cmd</a>. All Rights Reserved</p> </footer>
    </div>
</body>
</html>