<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static "TimeSheet/Main.css" %}">
    <link rel="stylesheet" href="{% static "TimeSheet/UserPage.css" %}">
    <title>Welcome| {{uname}}</title>
</head>
<body>
    {% load static %}

    <div class="mainheader">
        <img src="{% static "TimeSheet/CompanyLOGO.png" %}" alt="WFH System" class="mainHeaderImage">
    </div>

    <dive> 
       <nav class="headernav">
            <ul class="navList">
            <li class="navListItems"><a href="/TimeSheet/ShowData/">Main</a></li>
        {% if state == 'admin' %}
            <li class="navListItems"><a href="/TimeSheet/GroupAdmin" >My Groups</a></li>
        {% else %}
            {% if state == 'superAdmin' %}
                <li class="navListItems"><a href="/TimeSheet/SuperAdmin" >My Space</a></li>
            {% endif %}    
        {% endif %}
            <li class="logoutbutton"><a href="/logOut/">Logout</a></li>
            </ul>
        </nav>
    </div>

    <h1>Welcome,<span> {{uname}}</span></h1>
    <div class="tablecontainer">
        <table>
            <thead>
                <tr>
                    <th>TimeStamp</th>
                    <th>Event</th>
                    <th>Time taken</th>
                    <th>Approval status</th>
                    <th>Action</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                </tr> 
                {% for TimeStamp,Event,Timetaken,Approvalstatus,EventId,CommentsNumber in events %}
                    <tr>
                        <td>{{ TimeStamp }}</td>
                        <td>{{ Event }}</td>
                        <td>{{ Timetaken }}</td>
                        <td>{{ Approvalstatus }}</td>
                        <td><a href="EditEvent/{{EventId}}">edit</a> || <a href="DeleteEvent/{{EventId}}">delete</a></td>
                        <td><a href="ViewComments/{{EventId}}">View comments[{{CommentsNumber}}]</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    
    <div class="newEventFormHolder">
        <form method="POST" name="Eventform" action="AddNewEvent/">
            {% csrf_token %}
            <label for="uevent">Event</label>
            <input type="text" placeholder=" input Event" name="uevent" required>
            <label for="utime">Time Taken</label>
            <input type="number" placeholder=" input duration in hours" step="0.1" min="0" name="utime" required>
            <button type="submit">ADD</button>
        </form>
    </div>


    <div>
        <footer><p>@Copyrights <a href="https://github.com/chamira-cmd">chamira-cmd</a>. All Rights Reserved</p> </footer>
    </div>
</body>
</html>